@{
    Layout = null;
}

@Scripts.Render("~/Scripts/ThirdParty")
@Styles.Render("~/Styles/ThirdParty")
@Styles.Render("~/Styles/ApplicationWide")

<div id="mainBody">
    @RenderBody()
</div>


